<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

      <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
          <property name="brokerURL" value="tcp://192.168.121.128:61616"/>
          <property name="userName" value="system"/>
          <property name="password" value="123456"/>
      </bean>

      <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
          <property name="connectionFactory" ref="connectionFactory"/>
          <property name="destinationName" value="springQueue"/>
          <property name="messageListener" ref="myMessageListener"/>
      </bean>
      <bean id="myMessageListener" class="com.bjpowernode.activemq.listener.MyMessageListener"></bean>
</beans>